<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/Prototype3.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="prototype3 group layout">
      <div class="flex layout8">
        <div class="flex layout1">
          <div class="flex layout1">
            <div class="rect layout"></div>
            <div class="flex1 layout1">
              <div class="group1 layout1">
                <div class="group2 layout">
                  <div class="group1 layout">
                    <div class="txt_box layout">
                      <div class="txt"><span class="txt_span0">THERMO</span><span class="txt_span1">TRAK</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="spacer"></div>
              <div class="contain_block10 layout">
                <div class="flex1 layout">
                  <div class="flex layout">
                    <img src="/assets/c37fd2aed2add08693c5df2b657a83b4.png" alt="" class="img layout" />
                    <div class="txt1 layout">kg</div>
                  </div>
                  <div class="spacer1"></div>
                  <div class="txt2 layout">75</div>
                </div>
              </div>
            </div>
          </div>
          <div class="container1 layout">
            <div class="flex1 layout2">
              <div class="contain_block4 layout">
                <div class="flex layout2">
                  <div class="contain_block3 layout"><div class="txt3 layout">Core</div></div>
                  <div class="group1 layout2">
                    <div class="txt4 layout">37.2</div>
                    <div class="txt5 layout">oC</div>
                  </div>
                </div>
              </div>
              <div class="spacer2"></div>
              <div class="contain_block4 layout">
                <div class="flex layout2">
                  <div class="contain_block3 layout"><div class="txt3 layout1">Skin</div></div>
                  <div class="group1 layout3">
                    <div class="txt4 layout">32.4</div>
                    <div class="txt5 layout">oC</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex layout7">
          <div class="container layout">
            <div class="contain_block101 layout"></div>
            <div class="contain_block102 layout"><div class="txt3 layout2">Heat Stress</div></div>
            <div class="container9 layout">
              <div class="container8 layout">
                <div class="container4 layout">
                  <div class="container7 layout">
                    <div class="container3 layout">
                      <div class="container5 layout">
                        <div class="container6 layout">
                          <div class="contain_block103 layout">
                            <div class="rect1 layout"></div>
                            <hr size="1" class="rect2 layout" />
                            <div
                              style="--src:url(/assets/c46e0d24c885f33e287eac91a62fed18.png)"
                              class="img1 layout"
                            ></div>
                            <div class="group1 layout4">
                              <div class="txt6 layout">53</div>
                              <div class="txt7 layout">kcal</div>
                            </div>
                          </div>
                          <div class="flex layout3">
                            <div class="group1 layout5">
                              <div class="group1 layout">
                                <div class="group1 layout">
                                  <div class="group1 layout">
                                    <div class="txt8 layout">60</div>
                                    <hr size="1" class="rect2 layout1" />
                                  </div>
                                  <hr size="1" class="rect2 layout2" />
                                </div>
                                <div class="txt9 layout">HS</div>
                              </div>
                              <div class="txt10 layout">%</div>
                            </div>
                            <div class="group1 layout6">
                              <div class="group1 layout">
                                <div class="txt2 layout1">133</div>
                                <div class="txt9 layout1">maxHS</div>
                              </div>
                              <div class="txt7 layout">kcal</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex layout6">
            <div class="container3 layout1">
              <div class="contain_block9 layout">
                <div class="flex layout5">
                  <div class="contain_block8 layout"><div class="txt3 layout3">Heat Stress Prediction</div></div>
                  <div class="flex layout4">
                    <div class="contain_block7 layout"><div class="txt3 layout4">maxHS in</div></div>
                    <div class="group1 layout7">
                      <div class="txt11 layout">24</div>
                      <div class="txt5 layout1">minutes</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex1 layout3">
              <img src="/assets/4e0c8e771319349bef15def3034146bd.png" alt="" class="img layout1" />
              <div class="spacer3"></div>
              <img src="/assets/17334044f011212dcfad7311995c35a6.png" alt="" class="img layout1" />
              <div class="spacer3"></div>
              <img src="/assets/db2c43931e8e1f83a32063c1f7f28e42.png" alt="" class="img layout1" />
              <div class="spacer3"></div>
              <img src="/assets/db2c43931e8e1f83a32063c1f7f28e42.png" alt="" class="img layout1" />
              <div class="spacer3"></div>
              <img src="/assets/db2c43931e8e1f83a32063c1f7f28e42.png" alt="" class="img layout1" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
